bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.cache
*.log

publish/
/out/

.idea/
*.sln.DotSettings.user
.vs/
_ReSharper.Caches/

*.transient

.DS_Store
Thumbs.db

*.png
Task4.md
*.env
/Migrations/20260419235356_SeedingWithBogus.Designer.cs
/Migrations/20260420002214_FinalBogusSeed.cs
/Migrations/20260420002214_FinalBogusSeed.Designer.cs
